---
layout: default
title: Home
---
<!-- ========== BIO ========== -->
<div class="docs-section" id="bio">
  <h4><b>Bio</b></h4>
  <p>
    I am currently a 3th-year Ph.D. student in the Department of Computer Science & Engineering, 
    Texas A&M University. My advisor is <a href="http://people.tamu.edu/~sji/" target="_blank">Prof. Shuiwang Ji</a>,
    who leads the <a href="https://github.com/divelab/"> Data Integration, Visualization, and Exploration (DIVE) Laboratory </a>.  
    I obtained my Master’s and Bachelor’s degrees from Shanghai Jiao Tong University in 2023 and 2020, respectively.
    Here is my <a href={{ "https://sux1ngyu.github.io/index.html#resume" | prepend: site.baseurl }} target="_blank">CV</a>.
  </p>
  
  
  <p>
  My research focuses on generative modeling and optimization, with an emphasis on <b>discrete diffusion models</b>, <b>reinforcement learning methods</b>,
  and <b>large language models</b>.
  I am the author of <b>Seq2Exp</b>, a framework that leverages large language models to capture causal relationships 
  between DNA and epigenomic data for gene-expression prediction, which was selected as an 
  <b>oral paper at ICLR 2025</b>. 
  I also proposed <b>VIDD</b> (Iterative Distillation for Reward-Guided Fine-Tuning of Diffusion Models in Biomolecular Design), 
  which develops reinforcement learning to fine-tune discrete diffusion models.
  </p>
</div>

<!-- ========== NEWS ========== -->
<!-- <div class="docs-section" id="news">
  <h4><b>News</b></h4>
  <ul>
    {% for nw in site.data.news.news %}
    <!-- <a class="navbar-link" href={{ "/index.html#bio" | prepend: site.baseurl }}>Bio</a> -->

    <div class="row"><div class="twop columns"><b>{{ nw.date }}</b></div> <div class="ten columns">{{ nw.title }} <i>{{ nw.subtitle }}</i></div></div>
    {% endfor %}
  </ul>
</div> -->

<!-- ========== PUBLICATIONS ========== -->
<div class="docs-section" id="publications">
  <h4><b>Publications </b> [<a href="{{ site.data.main_info.googlescholar }}" target="_blank">Google Scholar</a>]</h4>
  * indicates equal contribution. </p>

      <h5><b>2026</b></h5>
    {% for paper in site.data.publications.papers %}
    {% if paper.year == "2026" %}
        <div class="paper">
          <div class="row">
            <div class="four columns">
              <div class="figure">
                <img src='{{ site.baseurl }}{{ paper.img }}' width="100%">
              </div>
            </div>
            <div class="eight columns">
                <p class="title"><b>{{ paper.title }}</b></p>
                <p>{{ paper.authors }}</p>
                <p><i>{{ paper.venue }}</i></p>
                {% if paper.note %}
                    <p>{{ paper.note }}</p>
                {% endif %}
                 <div class="paper-buttons">
                  {% if paper.preprint %}
                    <a class="button" href="{{ paper.preprint | prepend: site.baseurl }}" target="_blank">Preprint</a>
                  {% endif %}

                  {% if paper.paper_pdf %}
                    <a class="button" href="{{ paper.paper_pdf | prepend: site.baseurl }}" target="_blank">Paper</a>
                  {% endif %}


                  {% if paper.code %}
                    <a class="button" href="{{ paper.code | prepend: site.baseurl }}" target="_blank">Code</a>
                  {% endif %}

                  {% if paper.code_star %}
                    <img src='{{ site.baseurl }}{{ paper.code_star }}' height="20%" >
                  {% endif %}

                  {% if paper.documentation %}
                    <a class="button" href="{{ paper.documentation | prepend: site.baseurl }}" target="_blank">Documentation</a>
                  {% endif %}

                  {% if paper.slides %}
                    <a class="button" href="{{ paper.slides | prepend: site.baseurl }}" target="_blank">Slides</a>
                  {% endif %}

                  {% if paper.poster %}
                    <a class="button" href="{{ paper.poster | prepend: site.baseurl }}" target="_blank">Poster</a>
                  {% endif %}

                  {% if paper.supplement %}
                    <a class="button" href="{{ paper.supplement | prepend: site.baseurl }}" target="_blank">Supplement</a>
                  {% endif %}

                  {% if paper.UKSPNg %}
                    <a class="button" href="{{ paper.UKSPNg | prepend: site.baseurl }}" target="_blank">UKSP Nugget</a>
                  {% endif %}

                  {% if paper.blogpost %}
                    <a class="button" href="{{ paper.blogpost | prepend: site.baseurl }}" target="_blank">Blog post</a>
                  {% endif %}

                  {% if paper.pressrel %}
                    <a class="button" href="{{ paper.pressrel | prepend: site.baseurl }}" target="_blank">Press Coverage</a>
                  {% endif %}

                  {% if paper.video %}
                    <a class="button" href="{{ paper.video }}" target="_blank">Video</a>
                  {% endif %}

                  {% if paper.notebook %}
                    <a class="button" href="{{ paper.notebook }}" target="_blank">Python Notebook</a>
                  {% endif %}

                  {% if paper.data %}
                    <a class="button" href="{{ paper.data }}" target="_blank">Data</a>
                  {% endif %}

                  {% if paper.literature_collection %}
                    <a class="button" href="{{ paper.literature_collection }}" target="_blank">Paper collection</a>
                  {% endif %}

                  {% if paper.literature_collection_star %}
                    <img src='{{ site.baseurl }}{{ paper.literature_collection_star }}' height="20%" >
                  {% endif %}


                </div>
            </div>
          </div>
        </div>
    {% endif %}
    {% endfor %}

      <h5><b>2025</b></h5>
    {% for paper in site.data.publications.papers %}
    {% if paper.year == "2025" %}
        <div class="paper">
          <div class="row">
            <div class="four columns">
              <div class="figure">
                <img src='{{ site.baseurl }}{{ paper.img }}' width="100%">
              </div>
            </div>
            <div class="eight columns">
                <p class="title"><b>{{ paper.title }}</b></p>
                <p>{{ paper.authors }}</p>
                <p><i>{{ paper.venue }}</i></p>
                {% if paper.note %}
                    <p>{{ paper.note }}</p>  
                {% endif %}
                 <div class="paper-buttons">
                  {% if paper.preprint %}
                    <a class="button" href="{{ paper.preprint | prepend: site.baseurl }}" target="_blank">Preprint</a>
                  {% endif %}

                  {% if paper.paper_pdf %}
                    <a class="button" href="{{ paper.paper_pdf | prepend: site.baseurl }}" target="_blank">Paper</a>
                  {% endif %}


                  {% if paper.code %}
                    <a class="button" href="{{ paper.code | prepend: site.baseurl }}" target="_blank">Code</a>
                  {% endif %}
                   
                  {% if paper.code_star %}
                    <img src='{{ site.baseurl }}{{ paper.code_star }}' height="20%" >
                  {% endif %}
                   
                  {% if paper.documentation %}
                    <a class="button" href="{{ paper.documentation | prepend: site.baseurl }}" target="_blank">Documentation</a>
                  {% endif %}

                  {% if paper.slides %}
                    <a class="button" href="{{ paper.slides | prepend: site.baseurl }}" target="_blank">Slides</a>
                  {% endif %}

                  {% if paper.poster %}
                    <a class="button" href="{{ paper.poster | prepend: site.baseurl }}" target="_blank">Poster</a>
                  {% endif %}
                   
                  {% if paper.supplement %}
                    <a class="button" href="{{ paper.supplement | prepend: site.baseurl }}" target="_blank">Supplement</a>
                  {% endif %}

                  {% if paper.UKSPNg %}
                    <a class="button" href="{{ paper.UKSPNg | prepend: site.baseurl }}" target="_blank">UKSP Nugget</a>
                  {% endif %}

                  {% if paper.blogpost %}
                    <a class="button" href="{{ paper.blogpost | prepend: site.baseurl }}" target="_blank">Blog post</a>
                  {% endif %}

                  {% if paper.pressrel %}
                    <a class="button" href="{{ paper.pressrel | prepend: site.baseurl }}" target="_blank">Press Coverage</a>
                  {% endif %}

                  {% if paper.video %}
                    <a class="button" href="{{ paper.video }}" target="_blank">Video</a>
                  {% endif %}

                  {% if paper.notebook %}
                    <a class="button" href="{{ paper.notebook }}" target="_blank">Python Notebook</a>
                  {% endif %}

                  {% if paper.data %}
                    <a class="button" href="{{ paper.data }}" target="_blank">Data</a>
                  {% endif %}

                  {% if paper.literature_collection %}
                    <a class="button" href="{{ paper.literature_collection }}" target="_blank">Paper collection</a>
                  {% endif %}
                   
                  {% if paper.literature_collection_star %}
                    <img src='{{ site.baseurl }}{{ paper.literature_collection_star }}' height="20%" >
                  {% endif %}
                   

                </div>
            </div>
          </div>
        </div>
    {% endif %}
    {% endfor %}
  

<h5><b>Preprint</b></h5>
    {% for paper in site.data.publications.papers %}
    {% if paper.year == "preprint" %}
        <div class="paper">
          <div class="row">
            <div class="four columns">
              <div class="figure">
                <img src='{{ site.baseurl }}{{ paper.img }}' width="100%">
              </div>
            </div>
            <div class="eight columns">
                <p class="title"><b>{{ paper.title }}</b></p>
                <p>{{ paper.authors }}</p>
                <p><i>{{ paper.venue }}</i></p>
                {% if paper.note %}
                    <p>{{ paper.note }}</p>  
                {% endif %}
                 <div class="paper-buttons">
                  {% if paper.preprint %}
                    <a class="button" href="{{ paper.preprint | prepend: site.baseurl }}" target="_blank">Preprint</a>
                  {% endif %}

                  {% if paper.paper_pdf %}
                    <a class="button" href="{{ paper.paper_pdf | prepend: site.baseurl }}" target="_blank">Paper</a>
                  {% endif %}


                  {% if paper.code %}
                    <a class="button" href="{{ paper.code | prepend: site.baseurl }}" target="_blank">Code</a>
                  {% endif %}
                   
                  {% if paper.code_star %}
                    <img src='{{ site.baseurl }}{{ paper.code_star }}' height="20%" >
                  {% endif %}
                   
                  {% if paper.documentation %}
                    <a class="button" href="{{ paper.documentation | prepend: site.baseurl }}" target="_blank">Documentation</a>
                  {% endif %}

                  {% if paper.slides %}
                    <a class="button" href="{{ paper.slides | prepend: site.baseurl }}" target="_blank">Slides</a>
                  {% endif %}

                  {% if paper.poster %}
                    <a class="button" href="{{ paper.poster | prepend: site.baseurl }}" target="_blank">Poster</a>
                  {% endif %}
                   
                  {% if paper.supplement %}
                    <a class="button" href="{{ paper.supplement | prepend: site.baseurl }}" target="_blank">Supplement</a>
                  {% endif %}

                  {% if paper.UKSPNg %}
                    <a class="button" href="{{ paper.UKSPNg | prepend: site.baseurl }}" target="_blank">UKSP Nugget</a>
                  {% endif %}

                  {% if paper.blogpost %}
                    <a class="button" href="{{ paper.blogpost | prepend: site.baseurl }}" target="_blank">Blog post</a>
                  {% endif %}

                  {% if paper.pressrel %}
                    <a class="button" href="{{ paper.pressrel | prepend: site.baseurl }}" target="_blank">Press Coverage</a>
                  {% endif %}

                  {% if paper.video %}
                    <a class="button" href="{{ paper.video }}" target="_blank">Video</a>
                  {% endif %}

                  {% if paper.notebook %}
                    <a class="button" href="{{ paper.notebook }}" target="_blank">Python Notebook</a>
                  {% endif %}

                  {% if paper.data %}
                    <a class="button" href="{{ paper.data }}" target="_blank">Data</a>
                  {% endif %}

                  {% if paper.literature_collection %}
                    <a class="button" href="{{ paper.literature_collection }}" target="_blank">Paper collection</a>
                  {% endif %}
                   
                  {% if paper.literature_collection_star %}
                    <img src='{{ site.baseurl }}{{ paper.literature_collection_star }}' height="20%" >
                  {% endif %}
                   

                </div>
            </div>
          </div>
        </div>
    {% endif %}
    {% endfor %}


</div>

<!-- ======== Materials ======= -->
<!--
<div class="docs-materials" id="materials">
  <h4><b>Materials</b></h4>
  <p> 
    We give the tutorial presentation for <a=https://github.com/divelab/DIG>DIG</a> on KDD2022 including graph generation, GNN explainability, 3d GNN, self-supervised learning on GNNs. 
    The corresponding materials are saved <a=https://github.com/divelab/DIG/tree/dig-stable/tutorials/KDD2022>here</a>, 
    [https://drive.google.com/file/d/1yk8Y1SkwpuxGbBVx5cKgI2J7KJ0ZMqAd/view>PPT</a>]
    [<a=https://www.youtube.com/watch?app=desktop&v=iJhE4TbtQD0>video part1</a>
    [<a=https://www.youtube.com/watch?v=cNZ32QtxN6s>video part2</a>
  </p>
  -->
  
<!-- ========== Services ========== -->
<div class="docs-section" id="services">
  <h4><b>Services</b></h4>
  <h5>Program Committee Member & Reviewer</h5>
  <div class="paper">
    {% for sv in site.data.services.reviewers %}
      <p>{{ sv.venue }} <i style="float:right;"> {{ sv.year }}</i></p>
    {% endfor %}
  </dive>
</div>


<!-- ========== Vitæ ========== -->
<div class="docs-section" id="resume">
  <h4><b>Vitæ</b></h4>
    <p>Here is my <a href={{ "/assets/resume_xingyu.pdf" | prepend: site.baseurl }} target="_blank">CV[PDF]</a>.</p>

  <!-- The Timeline -->
  <ul class="timeline">
    {% for exp in site.data.experience.experiences %}
    <li>
      {% if exp.category == "work" %}
      <div class="direction-l">
      {% else %}
      <div class="direction-r">
      {% endif %}
        <div class="flag-wrapper">
          <span class="flag">{{ exp.place }}</span>
          <span class="time-wrapper"><span class="time">{{ exp.time }}</span></span>
        </div>
        <div class="desc"><b>{{ exp.title }}</b> <br/> {{ exp.subtitle }}</div>
      </div>
    </li>
    {% endfor %}
  </ul>
</div>

